body.reader-mode {
  background: none;
  background-color: #EEEEEE;
  padding: 100px 0;
  height: unset;
  margin: 0 !important;
}

body.reader-mode > *:not(rd-viewer) {
  display: none !important;
}

body.reader-mode rd-viewer {
  display: block;
}

rd-viewer {
  display: none;
}
